/* styles/fonts.css */
@font-face {
    font-family: "Jeju Hallasan";
    src: url("/fonts/JejuHallasan-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Jetsy Trial";
    src: url("/fonts/JetsyTrial.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@layer base {
    :root {
        --font-jejuhallasan: "Jeju Hallasan", system-ui, sans-serif;
        --font-jetsytrial: "Jetsy Trial", system-ui, sans-serif;
    }
}
